version: '3.1'

services:
  db:
    image: mongo
    volumes:
      - dbstore:/data/db
  web:
    image: daustin/beer-locker
    ports:
      - '80:80'
    depends_on:
      - db

volumes:
  dbstore:
